
.icon-wrench:before { content: '\e800'; } /* '' */
.icon-download:before { content: '\e802'; } /* '' */
.icon-location:before { content: '\e805'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-cog-1:before { content: '\e808'; } /* '' */
.icon-basket:before { content: '\e809'; } /* '' */
.icon-comment:before { content: '\e80a'; } /* '' */
.icon-ok:before { content: '\e80b'; } /* '' */
.icon-emo-saint:before { content: '\e80e'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
