$colorHeaderText : #191919;
$colorParagraph: #707070;
$menuBlockColor: #00000080;
$prime-Color-descriptionSectionColor: #F3FCF0;
$buttonBuyColor:#011627;
$placeHolderColor:rgba(25, 0, 248, 0.856);
