@import "colors.scss";

#menu-block{
    position:relative;
    float:left;
    top:-10%;
    left: 0px;
    background-color:$menuBlockColor;
    color:white;
    border-radius: 0px 0px 50px 0px;
    height: 110%;
    width: 50%;
    overflow: hidden;
}
#btn {
    float:right;
    width: 100px;
    height: 50px;
    color: white;
    margin: 5px 0px 2px 2px;
    border: none;
    animation: button 1s;
    background: none;
    outline: none;
}
.list-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    ul{
        float:left;
        width: 100%;
        margin:0;
        li{
            cursor:pointer;
            font: {
                family:Arial, Helvetica, sans-serif;
                size:65px;
            }
            list-style-type: none;
            text-align:center;
            color:#fff;
            margin-top:55px;
        }
        li:nth-child(1){
            margin-top:150px;
        }
    }

}
.icon-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: {
        top:60px;
        left:auto;
        right: auto;
    }
}