body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: none;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 255, 213, 0.781)), to(#00a2ff));
  background: linear-gradient(to top, rgba(0, 255, 213, 0.781), #00a2ff);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

/* FRONT-START */
#start {
  float: left;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.background-pic {
  /* position: absolute; */
  float: left;
  width: 100%;
  height: 100vh;
  background-image: url("../zdjecia/naruto-background-start.png");
  background-size: cover;
  overflow: hidden;
}

#menu-block {
  position: relative;
  float: left;
  top: -10%;
  left: 0px;
  background-color: #00000080;
  color: white;
  border-radius: 0px 0px 50px 0px;
  height: 110%;
  width: 50%;
  overflow: hidden;
}

#btn {
  cursor: pointer;
  float: right;
  width: 100px;
  height: 50px;
  color: white;
  margin: 5px 0px 2px 2px;
  border: none;
  -webkit-animation: button 1s;
          animation: button 1s;
  background: none;
  outline: none;
}

.list-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.list-menu ul {
  float: left;
  width: 100%;
  margin-top: 15%;
}

.list-menu ul li {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  list-style-type: none;
  text-align: center;
  color: #fff;
  margin-top: 5%;
}

.icon-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

#nav-home {
  float: left;
  width: 100%;
  height: 100%;
}

#nav-home #mobilemenu-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 0, 248, 0.856);
}

#nav-home #mobilemenu-index .list-index {
  float: left;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#nav-home #mobilemenu-index .list-index .home-index, #nav-home #mobilemenu-index .list-index .about-index, #nav-home #mobilemenu-index .list-index .picture-index, #nav-home #mobilemenu-index .list-index .contact-menu-index, #nav-home #mobilemenu-index .list-index .faq-index {
  text-align: center;
  margin-top: 35px;
}

#nav-home #mobilemenu-index .list-index .home-index a, #nav-home #mobilemenu-index .list-index .about-index a, #nav-home #mobilemenu-index .list-index .picture-index a, #nav-home #mobilemenu-index .list-index .contact-menu-index a, #nav-home #mobilemenu-index .list-index .faq-index a {
  list-style: none;
  color: #2c2c2c;
  font-family: arial;
  font-size: 25px;
}

@media (max-width: 1200px) {
  #menu-block {
    display: none;
  }
  #nav-home {
    display: block !important;
  }
}

@media (min-width: 1201px) {
  #menu-block {
    display: block !important;
  }
  #nav-home {
    display: none !important;
  }
  #blockmobile {
    display: none !important;
  }
  #menublock-index {
    display: none !important;
  }
  #btn {
    display: none !important;
  }
}

@media (max-width: 900px) {
  #mobilemenu {
    display: none;
  }
  #btn {
    display: block !important;
  }
}

#description {
  float: left;
  width: 100%;
  background-color: #F3FCF0;
  padding-bottom: 250px;
  overflow: hidden;
}

#description .text-header-about {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  color: #191919;
  margin-top: 10%;
}

.description-box {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

.about-of-pictures-box, .about-of-maker-box {
  text-align: center;
}

.about-of-pictures-box {
  margin-top: 250px;
}

.about-of-maker-box {
  margin-top: -250px;
}

.about-of-pictures-box h1, .about-of-maker-box h1 {
  font-size: 35px;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #303030;
}

.about-of-maker, .about-of-pictures {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

.about-of-maker h2, .about-of-pictures h2 {
  color: #707070;
}

.line-break {
  float: left;
  width: 100%;
  height: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(#31AFD4), to(#F3FCF0)) transparent;
  background: linear-gradient(to top, #31AFD4, #F3FCF0) transparent;
}

#pictures {
  float: left;
  width: 100%;
  background-color: #31AFD4;
  color: #fff;
  padding-bottom: 250px;
}

#pictures h1 {
  text-align: center;
  font-size: 40px;
  font-family: Tahoma;
  text-transform: uppercase;
  margin-top: 100px;
}

.phots-to-the-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin-top: 150px;
}

.photos-one, .photos-two {
  width: 450px;
  height: 450px;
  overflow: hidden;
  border-radius: 10%;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.photos-one img, .photos-two img {
  width: 700px;
  /* -webkit-box-shadow: 0px 0px 50px 11px #000000; 
    box-shadow: 0px 0px 50px 11px #000000; */
}

.box-photos-one, .box-photos-two {
  position: relative;
  width: 450px;
  height: 650px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: #00000063;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.91);
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.91);
  padding: 25px 60px 0px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.box-buttons {
  float: left;
  width: 35%;
  height: 50px;
  background-color: #011627;
  border-radius: 25px;
  margin-top: 40px;
}

.box-buttons-sell {
  float: right;
  width: 45%;
  height: 50px;
  background-color: transparent;
  border-radius: 25px;
  margin-top: 40px;
}

.button-order {
  float: left;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 25px;
  width: 100%;
  height: 50px;
  text-align: center;
  -webkit-transition: linear 0.6s;
  transition: linear 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* animation: reversKolo 1s ; */
}

.price {
  float: right;
  background-color: transparent;
  color: white;
  border-radius: 25px;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price span {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 25px;
}

.contact {
  float: left;
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin-left: 0 !important;
  padding-bottom: 35px;
}

.namepage {
  width: 100%;
  color: #191919;
}

.namepage h1 {
  text-align: center;
  font-size: 40px;
  font-family: arial;
}

.form-box {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  text-align: center;
}

.first-name, .textBox {
  margin-top: 66px;
}

.last-name, .numer {
  margin-top: 48px;
}

.input-firstname, .input-lastname, .input-number, .box-mail {
  border-radius: 25px;
  border: solid #000 1px;
  -webkit-box-shadow: #A3A3A3 0px 0px 17px -4px inset;
          box-shadow: #A3A3A3 0px 0px 17px -4px inset;
  background-color: #fff;
  padding: 10px 20px;
}

.box-mail {
  font-size: 22px;
  font-family: arial;
}

.button-mail {
  margin-top: 15px;
  background-color: rgba(238, 255, 0, 0.164);
  width: 60px;
  height: 40px;
  border-radius: 10%;
  border: solid black 1px;
  color: #000;
  background: none;
  outline: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav #mobilemenu {
  float: right;
  height: 100%;
}

nav #mobilemenu ol {
  float: right;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 15px;
}

nav #mobilemenu ol li {
  list-style: none;
  margin-left: 25px;
  cursor: pointer;
}

nav #mobilemenu ol li a {
  color: #000;
  font-family: arial;
  font-size: 20px;
  text-align: center;
}

nav #mobilemenu ol li:first-child {
  margin-left: 0;
}

.logo {
  float: left;
  width: 50%;
  height: 100%;
  margin-left: 50px;
  margin-top: 25px;
}

.logo img {
  width: 400px;
}

#blockmobile {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #0066ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#blockmobile .list-menu-mobile {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#blockmobile .list-menu-mobile .home-mobile, #blockmobile .list-menu-mobile .about-mobile, #blockmobile .list-menu-mobile .picture-mobile, #blockmobile .list-menu-mobile .contact-mobile, #blockmobile .list-menu-mobile .faq-mobile {
  text-align: center;
  margin-top: 35px;
}

#blockmobile .list-menu-mobile .home-mobile a, #blockmobile .list-menu-mobile .about-mobile a, #blockmobile .list-menu-mobile .picture-mobile a, #blockmobile .list-menu-mobile .contact-mobile a, #blockmobile .list-menu-mobile .faq-mobile a {
  list-style: none;
  color: #e6e6e6;
  font-family: arial;
  font-size: 25px;
}

#blockmobile .icon-div {
  width: 100%;
  cursor: pointer;
}

#blockmobile .icon-div i {
  float: right;
}

/* FOOTER */
.nav-home {
  display: none;
}

.block-up {
  cursor: pointer;
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: #ffe600;
  top: 90%;
  right: 1%;
  border-radius: 10px;
}

.block-up .left-site, .block-up .center-site, .block-up .right-site {
  position: absolute;
  top: 13%;
  height: 6px;
  width: 60%;
  background-color: #fff;
  border-radius: 25px;
}

.block-up .left-site {
  left: 0;
  -webkit-transform: rotate(-35deg) translate(-7px, 10px);
          transform: rotate(-35deg) translate(-7px, 10px);
}

.block-up .center-site {
  left: 0;
  -webkit-transform: rotate(-90deg) translate(-20px, 12px);
          transform: rotate(-90deg) translate(-20px, 12px);
}

.block-up .right-site {
  right: 0;
  -webkit-transform: rotate(35deg) translate(7px, 10px);
          transform: rotate(35deg) translate(7px, 10px);
}

#footer-section {
  float: left;
  width: 100%;
}

footer {
  float: left;
  width: 100%;
  background-color: rgba(0, 51, 145, 0.89);
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer p {
  text-align: center;
  text-transform: uppercase;
}

footer p a {
  color: #cfcfcf;
}

.social-media, .adress, .contact {
  float: left;
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.instagram, .facebook, .postion-shop, .phone {
  color: #afafaf;
}

a {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */