// COLORS
@import "../SCSS/colors.scss";
// -------------

// SCROLL BAR
body::-webkit-scrollbar{
    width: 12px;
}
body::-webkit-scrollbar-track{
    background-color:none;
}
body::-webkit-scrollbar-thumb{
    border-radius:10px;
    background:linear-gradient(to top, rgba(0, 255, 213, 0.781), rgb(0, 162, 255));
}
// -------------


// HTML
html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding:0;
}
// -------------


/* FRONT-START */
#start{
    float:left;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.background-pic{
    /* position: absolute; */
    float:left;
    width: 100%;
    height:100vh;
    background-image:url("../zdjecia/naruto-background-start.png");
    background-size:cover;
    // background-position-x:250px;
    // background-position-y: -130px;
    overflow:hidden;
}
// -------------

// MENU BLOCK
@import "../SCSS/menuBlock.scss";
// -------------
// MENU BLOCK MEDIASCREEN
@import "../scss/mediacss.scss";
// DescriptionBlock
@import "../SCSS/description.scss";
// -------------

.line-break{
    float:left;
    width: 100%;
    height: 20px;
    background:linear-gradient(to top, #31AFD4, #F3FCF0) transparent;
}

// BuySection

@import "..//SCSS/buySection.scss";

// -------------
// CONTACT SCSS
@import "../SCSS/forum.scss";
// -------------

/* FOOTER */
.nav-home{
    display: none;
}
.block-up{
    cursor: pointer;
    position: fixed;
    width: 60px;
    height: 60px;
    background-color:#ffe600;
    top:90%;
    right:1%;
    border-radius:10px;
        .left-site, .center-site,.right-site{
            position: absolute;
            top:13%;
            height: 6px;
            width: 60%;
            background-color:#fff;
            border-radius:25px;
        }
        .left-site{
            left: 0;
            transform: rotate(-35deg) translate(-7px,10px);
        }
        .center-site{

            left:0;
            transform: rotate(-90deg) translate(-20px,12px);
            
        }
        .right-site{
            right:0;
            transform: rotate(35deg) translate(7px,10px)
        }
}

#footer-section{
    float:left;
        width: 100%;
    }
    footer{
        float:left;
        width: 100%;
        background-color:rgba(0, 51, 145, 0.89);
        color:white;
        text-align: center;
        padding-top:20px;
        padding-bottom:20px;
        p{
            text-align: center;
            text-transform: uppercase;
            a{
                color:rgb(207, 207, 207);
            }
        }
    }
    .social-media, .adress,.contact{
        float:left;
        margin-left:50px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .instagram,.facebook,.postion-shop,.phone{
        color:#afafaf;
    }
    a{
        color:white;
        text-decoration: none;
    }